body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 500px;
    background-color: #1f2937;
    color: white;
}

p {
    padding: 0;
    margin: 0;
    
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    font-weight: 700;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: lightgrey;
    font-size: 18px;
    font-family: "Hero Secondary";
}

.secondpart .secondhalf img {
    max-width: 600px;
}


.random-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 36px;
}


.random-information .info img {
    max-width: 300px;
    border-radius: 50%;
    clip-path: circle();

}



.random-information .info {
    max-width: 300px;
    font-size: 20px;
}

.random-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    gap: 52px;
    
}


.firstpart {
    height: 15%;
    display: flex;
}

.secondpart {
    height: 85%;
    display: flex;
   
}

.secondpart .firsthalf {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    flex: 1;
}

.secondpart .secondhalf {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.secondpart .firsthalf .title {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    width: 275px;
}

.secondpart .firsthalf .subtitle {
    font-size: 18px;
    color: #E5E7EB;
    width: 275px;
    text-align: center;
}

.firstpart .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: x-large;
    color: white;
    font-weight: 700;
}

.firstpart .links {
    display: flex;
    gap: 2em;
    width: 50%;
    justify-content: center;
    padding: 8px;
}



